$white: hsl(0, 0%, 100%);
$blue: hsl(220, 97%, 61%);
$bg-color-dark: hsl(235, 21%, 11%);
$color-dark: hsl(234, 39%, 85%);
$hover-dark: hsl(234, 39%, 85%);
$bg-content-dark: hsl(235, 24%, 19%);
$border-color-dark: hsl(233, 14%, 35%);
$completed-color-dark: hsl(233, 11%, 52%);
$shadow-color-dark: hsla(237, 14%, 26%, 0.3);
$bg-color-light: hsl(0, 0%, 98%);
$color-light: hsl(235, 21%, 11%);
$hover-light: hsl(235, 19%, 35%);
$bg-content-light: hsl(255, 100%, 100%);
$border-color-light: hsl(235, 32%, 92%);
$completed-color-light: hsl(240, 9%, 61%);
$shadow-color-light: hsla(240, 9%, 61%, 0.3);
$scroll-color: hsla(0, 0%, 44%, 0.75);
$grad: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$bg-color: var(--bg-color);
$bg-content: var(--bg-content);
$color: var(--color);
$hover: var(--hover);
$border-color: var(--border-color);
$completed-color: var(--completed-color);
$shadow-color: var(--shadow-color);
