@use "./variables.scss" as *;
@use "./fonts.scss" as *;

* {
    box-sizing: border-box;
}

button,
input {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

.body {
    font-size: $fs-s;
    line-height: $lh;
    font-family: $ff, sans-serif;
    margin: 0;
}

.container {
    width: min(590px, 100%);
    padding-inline: 25px;
    margin: 0 auto;
}

@media screen and (min-width: $bp) {
    .body {
        font-size: $fs-xl;
    }
}
