:root {
    --ff: "Josefin Sans";
    --fs-h1: 2.2em;
    --fs-l: 18px;
    --fs-m: 14px;
    --fs-s: 12px;
    --lh: 1.2;
    --br: 5px;
    --font-corrector: -0.25em;
    --transition: 0.3s;
    --grad: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --white: hsl(255, 100%, 100%);
    --blue: hsl(220, 97%, 61%);
    --light-gray: hsl(0, 0%, 98%);
    --light-graylish-blue-100: hsl(235, 32%, 92%);
    --light-graylish-blue-300: rgb(147, 147, 165, 0.3);
    --dark-graylish-blue-100: hsl(240, 9%, 61%);
    --dark-graylish-blue-400: hsl(235, 19%, 35%);
    --dark-blue: hsl(235, 21%, 11%);
    --dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-graylish-blue-200: hsl(234, 39%, 85%);
    --dark-graylish-blue-200: hsl(233, 11%, 52%);
    --dark-graylish-blue-300:hsl(233, 14%, 35%);
    --dark-graylish-blue-400-03: rgb(57, 58, 76, 0.3);
}

@font-face {
    font-family: "Josefin Sans";
    font-weight: 400;
    src: url("/src/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Josefin Sans";
    font-weight: 700;
    src: url("/src/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

[data-theme="light"] {
    --bg-image: url("/src/assets/images/bg-mobile-light.jpg");
    --toggler-icon: url("/src/assets/svg/icon-moon.svg");
    --bg-color: var(--light-gray);
    --color: var(--dark-blue);
    --bg-content-color: var(--white);
    --border-color: var(--light-graylish-blue-100);
    --hover-color: var(--dark-graylish-blue-400);
    --completed-color: var(--dark-graylish-blue-100);
    --shadow-color: var(--light-graylish-blue-300);
}

[data-theme="dark"] {
    --bg-image: url("/src/assets/images/bg-mobile-dark.jpg");
    --toggler-icon: url("/src/assets/svg/icon-sun.svg");
    --bg-color: var(--dark-blue);
    --color: var(--light-graylish-blue-200);
    --bg-content-color: var(--dark-desaturated-blue);
    --border-color: var(--dark-graylish-blue-300);
    --hover-color: var(--light-graylish-blue-200);
    --completed-color: var(--dark-graylish-blue-200);
    --shadow-color: var(--dark-graylish-blue-400-03);
}

body {
    font-size: var(--fs-s);
    font-family: var(--ff), sans-serif;
    line-height: var(--lh);
    margin: 0;
}

button,
input {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

.container {
    width: min(590px, 100%);
    padding-inline: 25px;
    margin: 0 auto;
}

.border-grad-hover:hover {
    border: 1px solid transparent;
    background: linear-gradient(var(--bg-content-color), var(--bg-content-color)) padding-box, var(--grad) border-box;
}

@media screen and (min-width: 768px) {
    [data-theme="light"] {
        --bg-image: url("/src/assets/images/bg-desktop-light.jpg");
    }
    
    [data-theme="dark"] {
        --bg-image: url("/src/assets/images/bg-desktop-dark.jpg");
    }

    body {
        font-size: var(--fs-l);
    }
}