@use "./variables.scss" as *;
@use "./colors.scss" as *;

[data-theme="dark"] {
    --bg-img: #{$img-bg-mobile-dark};
    --toggler-icon: #{$svg-icon-dark};
    --bg-color: #{$bg-color-dark};
    --bg-content: #{$bg-content-dark};
    --color: #{$color-dark};
    --hover: #{$hover-dark};
    --border-color: #{$border-color-dark};
    --completed-color: #{$completed-color-dark};
    --shadow-color: #{$shadow-color-dark};
}

[data-theme="light"] {
    --bg-img: #{$img-bg-mobile-light};
    --toggler-icon: #{$svg-icon-light};
    --bg-color: #{$bg-color-light};
    --bg-content: #{$bg-content-light};
    --color: #{$color-light};
    --hover: #{$hover-light};
    --border-color: #{$border-color-light};
    --completed-color: #{$completed-color-light};
    --shadow-color: #{$shadow-color-light};
}

@media screen and (min-width: $bp) {
    [data-theme="dark"] {
        --bg-img: #{$img-bg-desktop-dark};
    }

    [data-theme="light"] {
        --bg-img: #{$img-bg-desktop-light};
    }
}