@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.todo-app__filter {
    font-size: $fs-m;
    color: $completed-color-light;
    text-transform: capitalize;
    transition: $transition;

    &:disabled {
        color: $blue;
    }

    &:not(:disabled):hover {
        color: $hover;
    }
}

@media screen and (min-width: $bp) {
    .todo-app__filter {
        font-size: $fs-l;
    }
}
