.todo-app__header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-block: 45px 0;
}

.todo-app__heading {
    font-size: var(--fs-h1);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin: 0 0 var(--font-corrector) 0;
}

.todo-app__toggler {
    grid-column: 2 / span 1;
    width: var(--fs-h1);
    background-image: var(--toggler-icon);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 1.5em;
}

.todo-app__form {
    grid-column: 1 / span 2;
    display: flex;
    background-color: var(--bg-content-color);
    border-radius: var(--br);
    width: 100%;
    padding: 1.2em 1.4em;
}

.todo-app__form__submit {
    border: 1px solid var(--border-color);
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    margin-right: 1em;
}

.todo-app__form__submit-label,
.todo-app__form__input-label {
    display: flex;
    align-items: center;
}

.todo-app__form__input-label {
    flex-grow: 1;
}

.todo-app__form__input {
    margin-bottom: var(--font-corrector);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .todo-app__header {
        gap: 45px;
        padding-block: 75px 0;
    }

    .todo-app__toggler {
        height: 1.5em;
    }

    .todo-app__form {
        padding: 1em 1.2em;
    }

    .todo-app__form__submit {
        margin-right: 1.2em;
    }
}